# See http://help.github.com/ignore-files/ for more about ignoring files.

# cache
.angular/cache
.nx/cache

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# built extensions
*.xpi
*.zip

# IDEs and editors
.idea/
.project/
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
/typings

# System Files
.DS_Store
Thumbs.db
