.options {
  color: #555;
  padding: 8px;
  background-color: white;
}

.popup {
  width: 500px;
}

.options h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 18px 0 12px;
  padding: 0;
  color: #777;
}

input[type=checkbox] {
  margin-right: 8px;
  transform: scale(1.25);
  padding: 3px;
}

.popup div button {
  float: right;
}

form div:last-of-type {
  margin-top: 16px;
}
