<main [class]="[page(), theme()]">

  @if (page() === 'popup') {
    <div>
      <button type="button" (click)="close()">Close</button>
    </div>
  }

  <h1>{{ page() === 'popup'? 'Pinboard Pin Options' : 'Options' }}</h1>

  <form>
    <div>
      <input type="checkbox" id="ping" [formField]="form.ping" (change)="save()">
      <label for="ping">Always check and show whether pages have been bookmarked</label>
    </div>
    <div>
      <input type="checkbox" id="unshared" [formField]="form.unshared" (change)="save()">
      <label for="unshared">Add new bookmarks as private by default</label>
    </div>
    <div>
      <input type="checkbox" id="toread" [formField]="form.toread" (change)="save()">
      <label for="toread">Add new bookmarks as unread by default</label>
    </div>
    <div>
      <input type="checkbox" id="meta" [formField]="form.meta" (change)="save()">
      <label for="meta">Use meta elements for description and tags</label>
    </div>
    <div>
      <input type="checkbox" id="selection" [formField]="form.selection" (change)="save()">
      <label for="selection">Use selected text as description</label>
    </div>
    <div>
      <input type="checkbox" id="blockquote" [formField]="form.blockquote" (change)="save()">
      <label for="blockquote">Wrap selected description as a block quote</label>
    </div>
    <div>
      <input type="checkbox" id="alpha" [formField]="form.alpha" (change)="save()">
      <label for="alpha">Sort tag suggestions by name instead of frequency</label>
    </div>
    <div>
      <input type="checkbox" id="popular" [formField]="form.popular" (change)="save()">
      <label for="popular">Show popular tags recommended by Pinboard</label>
    </div>
    <div>
      <input type="checkbox" id="menu" [formField]="form.menu" (change)="save()">
      <label for="menu">Add an entry to the context menu</label>
    </div>
    <div style="margin-top:1ex">
      <label for="dark-on">Dark mode:</label>
      <input type="radio" id="dark-auto" value="auto" [formField]="form.dark" (change)="save()">
      <label for="dark-auto">auto</label>
      <input type="radio" id="dark-on" value="on" [formField]="form.dark" (change)="save()">
      <label for="dark-on">on</label>
      <input type="radio" id="dark-off" value="off" [formField]="form.dark" (change)="save()">
      <label for="dark-off">off</label>
    </div>
    <div style="margin-top:1ex">
      Keyboard shortcut for saving pages to Pinboard Pin:
      <kbd style="margin-left:.67em">{{shortcut()}}</kbd>
    </div>
  </form>

</main>
