.popup {
  width: 400px;
}

div label {
  line-height: 175%;
}

form div {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  input[type="text"] {
    flex: 1 0 70px;
    margin-right: 8px;
  }

  button {
    flex: 0 0 80px;
  }
}
