.popup {
  width: 400px;
}

div label {
  line-height: 175%;
}

form div {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

form div input[type=text] {
  flex: 1 0 70px;
  margin-right: 8px;
}

form div button {
  flex: 0 0 80px;
}
