<main class="popup" [class]="theme()">

  @if (!ready()) {
    <h1>Loading page from Pinboard...</h1>
  }
  @if (ready() && !update()) {
    <h1>Save page to Pinboard</h1>
  }
  @if (ready() && update()) {
    <h1>Update page in Pinboard</h1>
  }

  <div class="buttons">
    <button type="button" (click)="pinboardLink('')">
      Pinboard home
    </button>
    <button type="button" (click)="pinboardLink('~/starred/')">
      Favorites
    </button>
    <button type="button" (click)="pinboardLink('~/unread/')">
      Unread
    </button>
    <button type="button" (click)="pinboardLink('random/?type=unread')">
      Random unread
    </button>
    <button type="button" (click)="pinboardLink('popular/')">
      Popular
    </button>
    <button type="button" (click)="pinboardLink('recent/')">
      Recent
    </button>
    <button type="button" (click)="pinboardLink('~/tabs/')" style="max-width: 50px">
      Tab sets
    </button>
    <button type="button" (click)="saveTabs()" style="max-width: 50px">
      Save tabs
    </button>
    <button type="button" (click)="pinboardLink('settings/')">
      Pinboard settings
    </button>
    <button type="button" (click)="settings()" style="max-width: 85px">
      Pinboard&nbsp;Pin settings
    </button>
    <button type="button" (click)="logOut()" style="max-width: 45px">
      Log out
    </button>
  </div>

  @if (!error()) {
    <form (submit)="submit($event)">
      <div class="info">
        <label></label>
        @if (update() && !date()) {
          <span class="info">
            This page has already been added as a bookmark to Pinboard.
          </span>
          }@if (update() && date()) {
          <span class="info">
            This page has already been added as a bookmark to Pinboard {{date() | ago}}.
          </span>
          }@if (!update()) {
          <span class="note">
            This page has not yet been added as a bookmark to Pinboard.
          </span>
        }
      </div>
      <div>
        <label for="url">URL:</label>
        <input id="url" type="url" size="64" [formField]="form.url">
      </div>
      <div>
        <label for="title">Title:</label>
        <input id="title" type="text" size="64" [formField]="form.title">
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea id="description" rows="4" [formField]="form.description"></textarea>
      </div>
      <app-tagging [(tags)]="tags" [allTags]="allTags()" [suggested]="suggested()" [popular]="popular()"
        [keywords]="keywords()" [alpha]="sortAlpha()" [disabled]="!ready()"></app-tagging>
      <div class="submit">
        <label></label>
        <input type="checkbox" id="unshared" [formField]="form.unshared">
        <label for="unshared">private</label>
        <input type="checkbox" id="toread" [formField]="form.toread">
        <label for="toread">to read</label>
        <button type="button" (click)="cancel()">Cancel</button>
        @if (update()) {
          <button type="button" [disabled]="!ready()" (click)="remove()">
          Remove bookmark</button>
        }
        <button type="submit" [disabled]="!ready() || !form().valid()">
          {{ update() ? 'Update bookmark' : 'Add bookmark' }}
        </button>
      </div>
    </form>
  }

  @if (error()) {
    <p class="error">{{error()}}</p>
  }

  @if (error()) {
    <form>
      <div class="submit">
        <label></label>
        <button (click)="cancel()">Cancel</button>
        @if (retry()) {
          <button (click)="reset()">Try again</button>
        }
      </div>
    </form>
  }

</main>
