.popup {
  width: 720px;
}

.error {
  color: #a00;
  text-align: center;
  font-weight: bold;
}

div.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 16px;
}

div.buttons button {
  font-size: 10px;
  max-width: 70px;
}

form div {
  display: flex;
  align-items: baseline;
  margin-top: 8px;
}

form div label {
  flex: 0 0 100px;
  margin-right: 8px;
  text-align: right;
  font-weight: bold;
}

form div.info {
  margin-bottom: 8px;
}

span.suggested {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

span.suggested a {
  color: #136;
  margin-right: 8px;
  text-decoration: none;
}

span.suggested a.added {
  color: #888;
}

span.suggested a:last-child {
  font-weight: bold;
}

span.suggested a:nth-last-child(2) {
  margin-right: 12px;
}

form div input[type=text],
form div input[type=url],
form div textarea {
  flex: 1 0 70px;
}

form div.submit {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

form div.submit label {
  text-align: left;
  width: auto;
}

form div.submit button {
  margin-left: 8px;
  width: 120px;
  padding-top: 16px;
  padding-bottom: 12px;
  align-self: stretch;
}

form div.submit label + button {
  margin-left: auto;
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
  margin-right: 12px;
  margin-bottom: 4px;
}

form div.completions {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  height: 0;
}

.completions ul {
  position: absolute;
  list-style-type: none;
  bottom: -2px;
  left: 110px;
  width: 300px;
  max-height: 250px;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  background-color: #FCFCF9;
  border: 1px solid #333;
  box-shadow: 4px 4px 10px #C3C38C;
  color: #3A529A;
  z-index: 9;
}

.completions li {
  padding: 4px;
}

.completions li.selected {
  background-color: #3A529A;
  color: #BEDDFB;
}

@media (prefers-color-scheme: dark) {
  span.suggested a {
    color: #B882D8;
  }

  span.suggested a.added {
    color: #aaaaaa;
  }

  .completions ul {
    background-color: #28005C;
    border: 1px solid #B882D8;
    box-shadow: 4px 4px 10px #B882D8;
    color: #CCCCCC;
  }

  .completions li.selected {
    background-color: #3A529A;
    color: #BEDDFB;
  }
}
