/* You can add global styles to this file, and also import other style files */

body {
  font-family: sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

main {
  --hue: 220;
  --hue-2: 100;
  --color-lines: hsl(var(--hue-2), 33%, 40%);
  --color-focus: hsl(var(--hue-2), 40%, 67%);
  --color-bg: hsl(var(--hue), 5%, 95%);
  --color-fg: hsl(var(--hue), 5%, 5%);
  --color-bg-input: hsl(var(--hue), 10%, 90%);
  --color-fg-input: hsl(var(--hue), 10%, 10%);
  --color-error: hsl(0, 67%, 50%);
  --color-info: hsl(120, 33%, 37%);
  --color-note: hsl(240, 10%, 33%);

  color: var(--color-fg);
  background-color: var(--color-bg);
}

.popup {
  padding: 8px;
}

.popup h1 {
  font-size: 24px;
  line-height: 36px;
  background: url("/img/pinboard_32.png") no-repeat;
  padding: 2px 48px;
  margin: 0 0 4px;
  border-bottom: 1px solid var(--color-lines);
}

input[type="text"],
input[type="url"],
textarea {
  font-family: sans-serif;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--color-lines);
  background-color: var(--color-bg-input);
  color: var(--color-fg-input);
  width: 42em;
}

button {
  border: none;
  border-bottom: 2px solid hsl(var(--hue), 20%, 15%);
  border-radius: 4px;
  background: linear-gradient(to bottom, hsl(var(--hue), 40%, 33%) 0%, hsl(var(--hue), 30%, 25%) 100%);
  color: hsl(var(--hue), 25%, 95%);
  padding: 6px;
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

button:hover {
  --hue: var(--hue-2);
}

button[type="submit"] {
  border-width: 2px;
}

button:disabled,
button:disabled:hover {
  opacity: 0.4;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  border-radius: 4px;
  border: 1px solid var(--color-lines);
  background-color: var(--color-bg-input);
  width: 16px;
  height: 16px;

  &::before {
    content: "\2713";
    text-align: center;
    color: var(--color-bg-input);
    font-size: 14px;
    line-height: 1;
    float: left;
    margin-left: 1.5px;
  }

  &:checked {
    background-color: hsl(var(--hue), 40%, 33%);
  }
}

input[type="radio"] {
  border-radius: 8px;

  &::before {
    content: "\2b24";
    font-size: 12px;
  }
}

input[type="text"],
input[type="url"],
input[type="checkbox"],
input[type="radio"],
textarea,
button {
  &:focus {
    outline: solid 2px var(--color-focus);
    -moz-outline-radius: 6px;
  }
}

input[type="radio"]:focus {
  -moz-outline-radius: 9px;
}

span.error {
  color: var(--color-error);
}

span.info {
  color: var(--color-info);
}

span.note {
  color: var(--color-note);
}

main.dark {
  --color-bg: hsl(var(--hue), 25%, 7%);
  --color-fg: hsl(var(--hue), 12%, 93%);
  --color-bg-input: hsl(var(--hue), 25%, 15%);
  --color-fg-input: hsl(var(--hue), 12%, 85%);
  --color-focus: hsl(var(--hue-2), 40%, 50%);
  --color-error: hsl(0, 75%, 57%);
  --color-info: hsl(120, 67%, 40%);
  --color-note: hsl(240, 10%, 60%);

  input[type="checkbox"],
  input[type="radio"] {
    &:checked {
      background-color: hsl(var(--hue), 50%, 85%);
    }
  }
}
