/* You can add global styles to this file, and also import other style files */

body {
  font-family: sans-serif;
  font-size: 14px;
  background-color: #fafafb;
  padding: 0;
  margin: 0;
  color: #101010;
}

.popup {
  padding: 8px;
}

.popup h1 {
  font-size: 24px;
  line-height: 36px;
  background: url('/img/pinboard_32.png') no-repeat;
  padding: 2px 48px;
  margin: 0 0 4px;
  border-bottom: 1px solid #136;
}

input[type=text], input[type=url], textarea {
  font-family: sans-serif;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #3A529A;
  background-color: #f8f5f5;
  color: #101010;
}

button {
  border: 1px solid #052C53;
  border-radius: 4px;
  background-color: #3A529A;
  color: #BEDDFB;
  padding: 8px;
  font-weight: bold;
  font-size: 12px;
}

button:hover {
  background-color: #0D6CCA;
}

button[type=submit] {
  border-width: 2px;
}

button:disabled, button:disabled:hover {
  opacity: 0.4;
}

input[type=checkbox] {
  -moz-appearance: none;
  border-radius: 4px;
  border: 1px solid #3A529A;
  background-color: #f8f5f5;
  width: 16px;
  height: 16px;
}

input[type=checkbox]::before {
  content: '\2713';
  text-align: center;
  color: #f8f5f5;
  font-size: 14px;
  line-height: 1;
  float: left;
  margin-left: 1px;
}

input[type=checkbox]:checked {
  background-color: #3A529A;
}

input[type=text]:focus, input[type=url]:focus, textarea:focus, button:focus, input[type=checkbox]:focus {
  outline: solid 2px #5cbbe7;
  -moz-outline-radius: 6px
}

span.error {
  color: #a00;
}

span.info {
  color: #375;
}

span.note {
  color: #666;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #280034;
    color: #CCCCCC;
  }

  .popup h1 {
    border-bottom: 1px solid #B882D8;
  }

  input[type=text], input[type=url], textarea {
    border: 1px solid #B882D8;
    background-color: #28005C;
    color: #CCCCCC;
  }

  input[type=checkbox] {
    border: 1px solid #B882D8;
    background-color: #28005C;
  }

  input[type=checkbox]::before {
    color: #28005C;
  }

  input[type=checkbox]:checked {
    background-color: #B882D8;
  }

  span.info {
    color: #4CB07E;
  }

  span.note {
    color: #aaaaaa;
  }

  span.error {
    color: #FF0F0F;
  }

  a, a:visited {
    color: #5cbbe7;
  }
}
